.carousel-item{
    height: 550px;
    width: 100%;
}

h1{
    text-align: center;
    color: darkgoldenrod;
    font-size: 50px;
    padding: 20px;
    text-shadow: 5px 5px 5px white;
    margin: 0px;
}


main{
    padding: 0px;
    margin: 0px;
    text-align: center;
    background-color: black;
}

.contenedor{
    min-height: 600px;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 350px);
}
.item{
    border: 2px solid black;
    background-image: url(imagenes/img1.jpeg);
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.9s;
}
.item:hover{background-size: 125%;}
.item1{
    background-image: url(imagenes/img1.jpeg);
}
.item2{
    background-image: url(imagenes/img2.jpeg);
}
.item3{
    background-image: url(imagenes/img3.jpeg);
}
.item4{
    background-image: url(imagenes/img4.jpeg);
}
.item5{
    background-image: url(imagenes/img5.jpeg);
}
.item6{
background-image: url(imagenes/imgg.jpeg);
}
.item7{
    background-image: url(imagenes/img7.jpeg);
}
.item8{
    background-image: url(imagenes/img8.jpeg);
}
.item9{
    background-image: url(imagenes/img9.jpeg);
}
.item10{
    background-image: url(imagenes/img10.jpeg);
}
.item11{
    background-image: url(imagenes/img11.jpeg);
}
.item12{
background-image: url(imagenes/img12.jpeg);
}
.item13{
    background-image: url(imagenes/img13.jpeg);
}
.item14{
    background-image: url(imagenes/img14.jpeg);
}
.item15{
background-image: url(imagenes/img15.jpeg);
}
.item16{
    background-image: url(imagenes/img16.jpeg);
}
.item17{
    background-image: url(imagenes/img17.jpeg);
}
.item18{
background-image: url(imagenes/astro.jpeg);
}
.item19{
    background-image: url(imagenes/img19.jpeg);
}
.item20{
    background-image: url(imagenes/img18.jpeg);
}
#img{
    text-align: center;
}
.ParrSob{
    text-align: center;
    text-shadow: 5px 5px 5px black;
}
h3{
    color: darkgoldenrod;
}
label{
    color: darkgoldenrod;
}
.mainSob{
    background-image: linear-gradient( to bottom, black, darkgoldenrod, black);
}

.mainIndex{
    background-image: url(imagenes/astrofotografia.jpeg);
    background-size: cover;
}
h5{
    text-align: center;
    font-size: 30px;
    color: darkgoldenrod;
    text-shadow: 5px 5px 5px black;
    padding: 10px;
}
.redesC a{
    text-align: center;
    color: darkgoldenrod;
    text-decoration: none;
    font-size: 50px;
    letter-spacing: 20px; 
    padding-bottom: 15px;
}
h1:hover{
    transform: scale(0.9);
    transition: 0.8s;
}