header {
  text-align: center;
  background-color: black;
}
header nav {
  text-align: center;
}
header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  font-size: 20px;
  margin-bottom: 0px;
}
header nav ul li {
  padding: 15px;
}
header nav ul li a {
  color: darkgoldenrod;
  text-decoration: none;
  text-shadow: 5px 5px 5px gray;
}

.carousel-item {
  height: 550px;
  width: 100%;
}

h1 {
  text-align: center;
  color: darkgoldenrod;
  font-size: 50px;
  padding: 20px;
  text-shadow: 5px 5px 5px white;
  margin: 0px;
}

main {
  padding: 0px;
  margin: 0px;
  text-align: center;
  background-color: black;
}

.contenedor {
  min-height: 600px;
  width: 100%;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(5, 350px);
}

.item {
  border: 2px solid black;
  background-image: url(imagenes/img1.jpeg);
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.9s;
}

.item:hover {
  background-size: 125%;
}

.item1 {
  background-image: url(imagenes/img1.jpeg);
}

.item2 {
  background-image: url(imagenes/img2.jpeg);
}

.item3 {
  background-image: url(imagenes/img3.jpeg);
}

.item4 {
  background-image: url(imagenes/img4.jpeg);
}

.item5 {
  background-image: url(imagenes/img5.jpeg);
}

.item6 {
  background-image: url(imagenes/imgg.jpeg);
}

.item7 {
  background-image: url(imagenes/img7.jpeg);
}

.item8 {
  background-image: url(imagenes/img8.jpeg);
}

.item9 {
  background-image: url(imagenes/img9.jpeg);
}

.item10 {
  background-image: url(imagenes/img10.jpeg);
}

.item11 {
  background-image: url(imagenes/img11.jpeg);
}

.item12 {
  background-image: url(imagenes/img12.jpeg);
}

.item13 {
  background-image: url(imagenes/img13.jpeg);
}

.item14 {
  background-image: url(imagenes/img14.jpeg);
}

.item15 {
  background-image: url(imagenes/img15.jpeg);
}

.item16 {
  background-image: url(imagenes/img16.jpeg);
}

.item17 {
  background-image: url(imagenes/img17.jpeg);
}

.item18 {
  background-image: url(imagenes/astro.jpeg);
}

.item19 {
  background-image: url(imagenes/img19.jpeg);
}

.item20 {
  background-image: url(imagenes/img18.jpeg);
}

#img {
  text-align: center;
}

.ParrSob {
  text-align: center;
  text-shadow: 5px 5px 5px black;
}

h3 {
  color: darkgoldenrod;
}

label {
  color: darkgoldenrod;
}

.mainSob {
  background-image: linear-gradient(to bottom, black, darkgoldenrod, black);
}

.mainIndex {
  background-image: url(imagenes/astrofotografia.jpeg);
  background-size: cover;
}

h5 {
  text-align: center;
  font-size: 30px;
  color: darkgoldenrod;
  text-shadow: 5px 5px 5px black;
  padding: 10px;
}

.redesC a {
  text-align: center;
  color: darkgoldenrod;
  text-decoration: none;
  font-size: 50px;
  letter-spacing: 20px;
  padding-bottom: 15px;
}

h1:hover {
  transform: scale(0.9);
  transition: 0.8s;
}

footer {
  background-color: black;
  text-align: center;
}

.redes a {
  text-align: center;
  color: darkgoldenrod;
  text-decoration: none;
  font-size: 30px;
  letter-spacing: 15px;
}

.redes {
  padding-bottom: 15px;
}

h2 {
  color: darkgoldenrod;
  text-shadow: 3px 3px 3px grey;
}

h2:hover {
  transform: scale(0.9);
  transition: 0.8s;
}

h4 {
  padding: 5px;
  color: darkgoldenrod;
  margin: 0px;
}

.subir {
  background-color: darkgoldenrod;
  height: 30px;
  width: 30px;
  text-align: center;
  position: fixed;
  right: 30px;
  bottom: 30px;
  color: white;
  line-height: 30px;
  font-size: 30px;
  border-radius: 50%;
}

@media only screen and (min-width: 823px) and (max-width: 1025px) {
  .carousel-item {
    height: 400px;
    width: 100%;
  }
}
@media only screen and (max-width: 822px) and (min-width: 650px) {
  ul {
    display: flex;
    flex-wrap: wrap;
  }
  .contenedor {
    min-height: 400px;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 200px);
  }
  .item {
    margin: 0px;
  }
  .imgMov {
    width: 300px;
    height: 250px;
  }
  .ubi {
    width: 300px;
    height: 250px;
  }
  .carousel-item {
    height: 350px;
    width: 100%;
  }
  h1 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 649px) {
  .carousel-item {
    height: 250px;
    width: 100%;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
  }
  h1 {
    font-size: 30px;
  }
  .itVideo {
    height: 250px;
    width: 100%;
  }
  .imgMov {
    width: 250px;
    height: 200px;
  }
  .ubi {
    width: 200px;
    height: 200px;
  }
  .contenedor {
    min-height: 100px;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 200px);
  }
  .item {
    background-size: cover;
  }
}/*# sourceMappingURL=estilo.css.map */